.wrapper {

}

.content {
  display: flex;
}

.poster {
  height: 450px;
  width: 300px;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
  margin: 28px;
  position: relative;
  flex-shrink: 0;
}

.aboutMovie {
  margin: 28px;
  padding: 0 16px;
  color: var(--color-light);
}

.subtitle {
  margin-top: 16px;
}

.bookmark {
  top: -6px;
  position: absolute;
  left: -10px;
}

.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f60;
  border-radius: 4px;
  outline: none;
  font-size: 18px;
  border: none;
  padding: 11px 32px;
  line-height: 22px;
  color: var(--color-light);
  cursor: pointer;
  margin: 16px 0;

  svg {
    fill: var(--color-light);
    margin-right: 12px;
  }

  &:hover {
    background-color: lighten(#f60, 10);
  }
}
