@import "src/scss/mixins";
@import "src/scss/constants";

.wrapper {
  height: 100vh;
  width: 100vw;
  background: var(--color-nav-bar-bg);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;

  @include phone {
    transform: translateY(0%) translateX(-100%);
  }
}

.opened {
  transform: translateY(0);
  visibility: visible;
}

.content {
  max-width: $contentMaxWidth;
  margin: auto;
}

.closeWrapper {
  width: 48px;
  height: 48px;
  background: var(--color-light);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  margin: 24px;
  transition: all 0.2s ease;

  &:hover {
    background: black;

    svg {
      fill: var(--color-light);
    }
  }
}

.close {
  width: 32px;
  height: 32px;
}

.nav {
  margin: 24px;
}

.navItemWrapper {
  margin-bottom: 16px;

}

.navItem {
  color: var(--color-light);
  font-size: 24px;
  text-decoration: none;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 20%;
    border-bottom: 3px solid var(--color-light);
    left: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}
