@import "src/scss/mixins";

.wrapper {
  background-color: var(--color-nav-bar-bg);
  overflow: hidden;
  padding-bottom: 10px;
  cursor: pointer;
}

.content {
  padding: 8px;
  @include phone {
    padding: 0 20px;

  }
}

.poster {
  height: 360px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.title {
  margin: 12px 0;
  color: var(--color-light);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @include phone {
    //overflow: unset;
    //white-space: unset;
  }
}

.bookmark {
  position: absolute;
  top: -6px;
  left: -10px;
}
