.wrapper {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;

  svg {
    fill: var(--color-light);
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: var(--color-light);
}

.input {
  background-color: inherit;
  outline: none;
  border: none;
  height: 100%;
  color: #000000;
  border-radius: 8px;
  width: 48px;
  transition: width 0.2s ease-in-out;

  &.opened,
  &:focus {
    background-color: var(--color-light);
    padding-left: 10px;
    padding-right: 50px;
    width: 100%;

    & + .searchIconWrapper {
      svg {
        fill: #000000;
      }
    }
  }
}

.searchIconWrapper {
  width: 48px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

.searchIcon {

}

.listWrapper {
  position: absolute;
  width: 100%;
  height: 200px;
  overflow: auto;
  top: 100%;
  margin-top: 12px;
  border-radius: 8px;
  background-color: var(--color-nav-bar-bg);
  z-index: 1;
}
